* {
    margin: 0;
    padding: 0;
}

body {
    color: #8f8f8f;
    font: 12px Tahoma, sans-serif;
    background: #fafafa url(../img/bg.png);
    border-top: 5px solid #7e7e7e;
}

img {
    border: 0;
}

.container {
    width: 960px;
    margin: auto;
}

header {
    margin-top: 26px;
    margin-bottom: 22px;
}

footer {
    background: #7e7e7e;
    color: #dbdbdb;
    font-size: 11px;
}

header form {
    float: right;
}

header input {
    background-color: #f3f3f3;
    height: 32px;
    width: 158px;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    border-right: none;
    color: #b2b2b2;
    padding: 10px;
}

button {
    height: 32px;
    width: 42px;
    background-color: #29c5e6;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

nav {
    background: #f3f3f3;
}

.navbar {
    padding: 0;
}

nav li {
    line-height: 12px;
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

nav a {
    color: #b2b2b2;
}

#navbarSupportedContent a {
    color: #b2b2b2;
}

nav a:hover {
    text-decoration: none;
    color: #4e4e4e;
}

#navbarSupportedContent a:hover {
    text-decoration: none;
    color: #4e4e4e;
}

.top-menu {
    height: 40px;
    border: 1px solid #e7e7e7;
}

.navbar-toggle {
    border: none;
    background: transparent !important;
}

.navbar-toggle:hover {
    background: transparent !important;
}

.navbar-toggle .icon-bar {
    width: 22px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.navbar-toggle .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.navbar-toggle.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggle.collapsed .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.nav-item {
    width: 116px;
    height: 40px;
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 12px 0;
}

.nav-link {
    padding: 0;
}

.top-menu li.active {
    background: #29c5e6;
    color: #fff;
}

#navbarSupportedContent li.active a {
    color: #fff;
}

.heading {
    background: url(../img/h1-bg.png);
    margin: 30px auto;
    padding-left: 20px;
    height: 35px;
}

h1 {
    display: inline-block;
    text-transform: uppercase;
    color: #7e7e7e;
    font: 35px 'Oswald', sans-serif;
    line-height: 40px;
    background: url(../img/bg.png);
    margin: 0;
    padding: 0 10px;
}

.aside {
    width: 250px;
    float: left;
}

.aside-menu {
    margin-bottom: 30px;
    list-style-position: inside;
    list-style-type: square;
}

.aside-menu li {
    border: 1px solid #e7e7e7;
    padding: 13px 10px 12px;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: -1px;
}

.aside-menu li.active {
    color: #29c5e6;
    background-color:
}

.aside-menu li.active a {
    color: inherit;
}

.aside p {
    line-height: 12px;
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 13px 11px 13px;
    color: white;
    background: #29c5e6;
}

.office-img {
    height: 200px;
    padding: 10px;
    border: 1px solid #e7e7e7;
    background: #f3f3f3;
    margin-bottom: 30px;
}

blockquote {
    background: #29c5e6;
    margin-top: 0;
    padding: 20px 22px 50px;
    line-height: 28px;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: white;
}

cite {
    display: block;
    float: right;
    font-size: 17px;
    color: #1d8ea6;
    padding-right: 20px;
}

section p {
    line-height: 18px;
    font-size: 9px;
    margin-top: 22px;
    color: #8f8f8f;
}

.image {
    display: inline-block;
    height: 180px;
    width: 288px;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    background: #fff;
    padding: 1px;
    margin-top: 22px;
}

.image:last-child {
    margin-right: 0;
}

.section-img {
    margin-bottom: 30px;
    margin-right: -15px;
}

.our_team__title {
    background: #29c5e6;
    margin-top: 30px;
    padding: 10px;
    line-height: 25px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: white;
}

.our_team {
    margin-bottom: 35px;
}

.our_team__item {
    margin-top: 20px;
    margin-right: 18px;
    margin-bottom: 20px;
    display: inline-block;
}

.our_team__img {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    background: #fff;
    margin-bottom: 12px;
    padding: 1px;
}

.our_team__name {
    width: 100px;
    font: 12px 'Oswald', sans-serif;
    color: #8f8f8f;
    margin-bottom: 10px;
}

.our_team__position {
    font: 10px 'Oswald', sans-serif;
    color: #29c5e6;
}

.footer {
    padding-bottom: 10px;
}

footer h3 {
    font: 14px 'Oswald', sans-serif;
    color: #fff;
    border-bottom: 1px solid #919191;
    margin: 10px 0;
    text-transform: uppercase;
}

time a {
    color: #b1abab;
}

.twitter p {
    margin-top: 5px;
}

.sitemap div {
    width: 55px;
    display: inline-block;
}

.sitemap a {
    display: block;
    margin-bottom: 11px;
    margin-right: 30px;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    color: inherit;
    text-decoration: none;
}

.social {
    margin: 0 -15px;
    display: inline-block;
    width: 130px;
}

.social > div {
    display: block;
}

.social-icon {
    width: 30px;
    height: 30px;
    background: url(../img/social.png) no-repeat;
    display: inline-block;
    margin-right: 10px;
}

.social-icon-small {
    width: 16px;
    height: 16px;
    background: url(../img/social-small.png) no-repeat;
    display: inline-block;
    margin: 5px 4px 0 0;
}

.twitter {
    background-position: 0 0;
}

.facebook {
    background-position: -30px 0;
}

.google-plus {
    background-position: -60px 0;
}

.vimeo {
    background-position: 0 0;
}

.youtube {
    background-position: -16px 0;
}

.flickr {
    background-position: -32px 0;
}

.instagram {
    background-position: -48px 0;
}

.rss {
    background-position: -64px 0;
}

.footer-logo img {
    margin-bottom: 10px;
}

.footer-logo {
    margin-top: 30px;
    text-align: right;
}
